footer {
    background: url("/theme_forestal/static/img/footer-bg.jpg") no-repeat center center / cover;
    background-color: rgba(0,0,0,0.85);
    color: @white;
    position: relative;
    & a {
        color: @white;
        &:hover {
            color: @color-dark;
        }
    }
    & #footer {
        & ul.list-unstyled {
            & li {
                margin-bottom: 2px;
                & a {
                    display: inline-block;
                }
                & .fa-map-marker {
                    padding: 0 0 0 2px;
                }
                & .fa-phone {
                    padding: 0 2px 0 2px;
                }
                & .fa-envelope {
                    padding: 0 2px 0 0;
                }
            }
        }
    }
    & .text-muted {
        color: @white;
    }
    /*& .footer-background {
        background: url("/theme_forestal/static/img/sliders/slider_aserrar.jpg") no-repeat center center / cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
    }*/
}