<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <!-- Delete default menu elements  -->
    <delete model="website.menu" id="website_sale_product_brand.menu_website_sale_brand"/>

    <!-- Add menu elements -->
    <record id="theme_for_mmenu_aboutus" model="website.menu">
        <field name="name">About us</field>
        <field name="url">/aboutus</field>
        <field name="sequence" type="int">10</field>
        <field name="parent_id" ref="website.main_menu" />
    </record>

</odoo>